{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="gray login py-5 row text-white">
	<div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">
    {% if user.name %}
    <h4>{{user.name}}</h4>
    <h5>@{{user.username}}</h4>

    {% else %}
    <h4>@{{user.username}}</h4>
    {% endif %}

    <p>{{user.email}}</p>
    
    <h1>Account Preferences</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary"type="submit">Save</button>
    </form>
</div>
</div>


    {% endblock %}
