body {
    font-family: 'Montserrat', sans-serif;

}

.main {
    height: 100vh;
}

.hero {
    background-image: url("greens.jpeg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 56px);



}

.navbar-default {
    background-color: white;
    color: black;
   
}

.gray {
    background-color:rgb(104, 104, 108);
}

.login {
    height: calc(100vh - 56px);
}

small.form-text.text-muted {
    color: white!important;
}


