body {
    font-family: 'Montserrat', sans-serif;

}

.hero {
    background-image: url("greens.jpeg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 94vh;

}

.navbar-default {
    background-color: white;
    color: black;
}


