<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="icon.png">

 

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.4.0/css/all.css">
  
  <!-- Place favicon.ico in the root directory -->

  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <!-- Add your site or application content here -->
  <div class="main">
      <nav class="navbar navbar-expand bg-white shadow-lg">
          <a class="navbar-brand text-dark" href="{% url 'home' %}">MobileMenu
              <i class="fas fa-utensils"></i>
          </a>
    
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                  <!-- <li class="nav-item">
                      <a class="nav-link text-dark" href="{% url 'login' %}">Login</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'scraper' %}">Scraper</a>
                </li>
                  {% if request.user.is_authenticated %}
                      <li class="nav-item">
                          <a class="nav-link text-dark" href="{% url 'profile' %}">Profile</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link text-dark" href="{% url 'logout' %}">Log Out</a>
                      </li>
                  {% else %}
                      <li class="nav-item">
                          <a class="nav-link text-dark" href="{% url 'login' %}">Log In</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link text-dark" href="{% url 'signup' %}">Register</a>
                      </li>
                  {% endif %}

              </ul>
          </div>
      </nav>
 

    {% block main %}
          {% block content %}{% endblock %}
  {% endblock %}

  </div>



    
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>