{% extends 'base.html' %}

{% load static %}

{% block main %}
<div class="hero pt-5">
    <div class="container">
            <div class="jumbotron shadow-lg bg-white text-sm-left text-md-center">
                <h1 class="display-4">Welcome to <span class="text-success">MobileMenu</span></h1>
                <p class="lead">Sign up for free text alerts and never miss your favorite meal at Lenoir or Chase.</p>
                <a class="btn btn-dark btn-lg text-white" href="{% url 'signup' %}" role="button">Sign up</a>
            </div>
    </div>
</div>



{% endblock %}